In [16]:
# requirements 
import pandas as pd
import numpy as np
import random
import scipy.spatial
import os
import subprocess
import sys

In [ ]:
# get input and output filenames from sys argv
inputfile = sys.argv[1]
outputfile = sys.argv[2]
df = pd.DataFrame.from_csv(inputfile)

In [17]:
# k teams per block (k=14 in the December 8 version of the experimental design)
k = 14

In [18]:
# test whether JDK is installed
proc = subprocess.Popen("javac -version", stdout=subprocess.PIPE, shell=True)
output = proc.stdout.read()
have_java = output[0:5].decode("utf-8") == "javac"
if not have_java:
    msg = """You do not have the Java compiler installed. The Maximally 
          Diverse Grouping Problem solver requires JDK 6 or higher. 
          Please run `sudo apt-get install openjdk-8-jdk` and then try 
          running this script again."""
    sys.exit(msg)

In [122]:
# import pandas as pd

# ################################################################################
# # WHAT T&E HAVE PROVIDED
# # explore T&E's sample data
# df = pd.DataFrame.from_csv("sample_csv_files/sample_users_swarm_input.csv")

# #print(df.columns.values)
# for i in range(len(df.columns)):
#     print(df.columns[i])

# print(df.languages_primary.unique())

# # explore data dictionary
# dd = pd.DataFrame.from_csv("CREATE_Ind.Diffs.Pilot_Data.Dictionary.csv")

# print(dd.index.values)

# # this is likert scale in the data dictionary, binary in the sample data 
# print(df["enjoy_logic_probs"])

mturk = pd.DataFrame.from_csv("users_mturk.csv")

In [76]:
swarm_rows = np.where(mturk["cond"] == "swarm")[0]
team_col = np.where(mturk.columns.values == "team")[0]
mturk.iloc[swarm_rows, team_col] = 1

In [20]:
print('"' + '", \n"'.join(mturk.columns.values) + '"')

"block",
"cond",
"team",
"requested_avatar",
"team_lead",
"age",
"gender",
"education",
"college_major_1",
"college_major_2",
"college_minor_1",
"college_minor_2",
"occupation",
"english_proficiency",
"other_lang_proficien_1",
"other_lang_proficien_1_TEXT",
"other_lang_proficien_2",
"other_lang_proficien_2_TEXT",
"other_lang_proficien_3",
"other_lang_proficien_3_TEXT",
"other_lang_proficien_4",
"other_lang_proficien_4_TEXT",
"other_lang_proficien_5",
"other_lang_proficien_5_TEXT",
"other_lang_proficien_6",
"other_lang_proficien_6_TEXT",
"enjoy_logic_probs",
"enjoy_num_probs",
"expertise_math",
"expertise_quant_model",
"expertise_stats",
"expertise_prob",
"expertise_bayes_net",
"expertise_programming",
"expertise_exp_design",
"expertise_risk_analysis",
"expertise_forecasting",
"expertise_dec_theory",
"expertise_game_theory",
"expertise_sats",
"expertise_arg_map",
"expertise_inf_logic",
"expertise_sys_think",
"expertise_image_analysis",
"expertise_link_analysis",
"expertise_graphic_design",
"expertise_tech_writing",
"prob_coher_35Acomp_1",
"prob_coher_57A_1",
"prob_coher_14Acomp_1",
"prob_coher_60AUB_1",
"prob_coher_5AUB_1",
"matrix_1",
"matrix_2",
"matrix_3",
"matrix_4",
"matrix_5",
"matrix_6",
"matrix_7",
"matrix_8",
"matrix_9",
"matrix_10",
"matrix_11",
"score_matrix",
"prob_reas_1",
"prob_reas_2",
"prob_reas_3",
"prob_reas_4",
"prob_reas_5",
"prob_reas_6",
"prob_reas_7",
"prob_reas_8",
"prob_reas_9",
"prob_reas_10",
"prob_reas_11",
"prob_reas_12",
"prob_reas_13",
"prob_reas_14",
"prob_reas_15",
"prob_reas_16",
"score_prob_reas",
"aomt_1",
"aomt_2",
"aomt_3",
"aomt_4",
"aomt_4_rev",
"aomt_5",
"aomt_5_rev",
"aomt_6",
"aomt_6_rev",
"aomt_7",
"aomt_7_rev",
"aomt_8",
"aomt_9",
"aomt_9_rev",
"aomt_10",
"aomt_11",
"score_aomt",
"bfi_1",
"bfi_2",
"bfi_3",
"bfi_4",
"bfi_5",
"bfi_6",
"bfi_7",
"bfi_8",
"bfi_9",
"bfi_10",
"bfi_1_rev",
"bfi_3_rev",
"bfi_4_rev",
"bfi_5_rev",
"bfi_7_rev",
"score_bfi_openness",
"score_bfi_conscientiousness",
"score_bfi_extraversion",
"score_bfi_agreeableness",
"score_bfi_neuroticism",
"toa_1",
"toa_2",
"toa_2_rev",
"toa_3",
"toa_4",
"toa_4_rev",
"toa_5",
"toa_6",
"toa_6_rev",
"toa_7",
"toa_8",
"toa_8_rev",
"toa_9",
"toa_10",
"toa_10_rev",
"toa_11",
"toa_12",
"toa_12_rev",
"toa_13",
"toa_14",
"toa_14_rev",
"toa_15",
"toa_16",
"toa_16_rev",
"score_toa_novelty",
"score_toa_complexity",
"score_toa_insolubility",
"rme_1",
"rme_2",
"rme_3",
"rme_4",
"rme_5",
"rme_6",
"rme_7",
"rme_8",
"rme_9",
"rme_10",
"rme_11",
"rme_12",
"rme_13",
"rme_14",
"rme_15",
"rme_16",
"rme_17",
"rme_18",
"rme_19",
"rme_20",
"rme_21",
"rme_22",
"rme_23",
"rme_24",
"rme_25",
"rme_26",
"rme_27",
"rme_28",
"rme_29",
"rme_30",
"rme_31",
"rme_32",
"rme_33",
"rme_34",
"rme_35",
"rme_36",
"score_rme",
"prob_coher_14A_1",
"prob_coher_35A_1",
"prob_coher_5A_1",
"prob_coher_60A_1",
"prob_coher_5Acomp_1",
"prob_coher_57Acomp_1",
"prob_coher_60Acomp_1",
"prob_coher_14B_1",
"prob_coher_35B_1",
"prob_coher_5B_1",
"prob_coher_57B_1",
"prob_coher_60B_1",
"prob_coher_14AUB_1",
"prob_coher_35AUB_1",
"prob_coher_57AUB_1",
"coh_score_4way",
"coh_score_3way",
"coh_score_2way"

In [108]:
relevant_vars = ["block", 
#     "cond", 
#     "team", 
#     "requested_avatar", 
    "team_lead", 
    "age", 
    "gender", 
    "education", 
#     "college_major_1", 
#     "college_major_2", 
#     "college_minor_1", 
#     "college_minor_2", 
#     "occupation", 
    "english_proficiency", 
#     "other_lang_proficien_1", 
#     "other_lang_proficien_1_TEXT", 
#     "other_lang_proficien_2", 
#     "other_lang_proficien_2_TEXT", 
#     "other_lang_proficien_3", 
#     "other_lang_proficien_3_TEXT", 
#     "other_lang_proficien_4", 
#     "other_lang_proficien_4_TEXT", 
#     "other_lang_proficien_5", 
#     "other_lang_proficien_5_TEXT", 
#     "other_lang_proficien_6", 
#     "other_lang_proficien_6_TEXT", 
    "enjoy_logic_probs", 
    "enjoy_num_probs", 
    "expertise_math", 
    "expertise_quant_model", 
    "expertise_stats", 
    "expertise_prob", 
    "expertise_bayes_net", 
    "expertise_programming", 
    "expertise_exp_design", 
    "expertise_risk_analysis", 
    "expertise_forecasting", 
    "expertise_dec_theory", 
    "expertise_game_theory", 
    "expertise_sats", 
    "expertise_arg_map", 
    "expertise_inf_logic", 
    "expertise_sys_think", 
    "expertise_image_analysis", 
    "expertise_link_analysis", 
    "expertise_graphic_design", 
    "expertise_tech_writing", 
#     "prob_coher_35Acomp_1", 
#     "prob_coher_57A_1", 
#     "prob_coher_14Acomp_1", 
#     "prob_coher_60AUB_1", 
#     "prob_coher_5AUB_1", 
#     "matrix_1", 
#     "matrix_2", 
#     "matrix_3", 
#     "matrix_4", 
#     "matrix_5", 
#     "matrix_6", 
#     "matrix_7", 
#     "matrix_8", 
#     "matrix_9", 
#     "matrix_10", 
#     "matrix_11", 
    "score_matrix", # matrix reasoning test
#     "prob_reas_1", 
#     "prob_reas_2", 
#     "prob_reas_3", 
#     "prob_reas_4", 
#     "prob_reas_5", 
#     "prob_reas_6", 
#     "prob_reas_7", 
#     "prob_reas_8", 
#     "prob_reas_9", 
#     "prob_reas_10", 
#     "prob_reas_11", 
#     "prob_reas_12", 
#     "prob_reas_13", 
#     "prob_reas_14", 
#     "prob_reas_15", 
#     "prob_reas_16", 
    "score_prob_reas", # probabilistic reasoning test
#     "aomt_1", 
#     "aomt_2", 
#     "aomt_3", 
#     "aomt_4", 
#     "aomt_4_rev", 
#     "aomt_5", 
#     "aomt_5_rev", 
#     "aomt_6", 
#     "aomt_6_rev", 
#     "aomt_7", 
#     "aomt_7_rev", 
#     "aomt_8", 
#     "aomt_9", 
#     "aomt_9_rev", 
#     "aomt_10", 
#     "aomt_11", 
    "score_aomt", # actively open-minded thinking test
#     "bfi_1", 
#     "bfi_2", 
#     "bfi_3", 
#     "bfi_4", 
#     "bfi_5", 
#     "bfi_6", 
#     "bfi_7", 
#     "bfi_8", 
#     "bfi_9", 
#     "bfi_10", 
#     "bfi_1_rev", 
#     "bfi_3_rev", 
#     "bfi_4_rev", 
#     "bfi_5_rev", 
#     "bfi_7_rev", 
    "score_bfi_openness", # big five personality inventory
    "score_bfi_conscientiousness", 
    "score_bfi_extraversion", 
    "score_bfi_agreeableness", 
    "score_bfi_neuroticism", 
#     "toa_1", 
#     "toa_2", 
#     "toa_2_rev", 
#     "toa_3", 
#     "toa_4", 
#     "toa_4_rev", 
#     "toa_5", 
#     "toa_6", 
#     "toa_6_rev", 
#     "toa_7", 
#     "toa_8", 
#     "toa_8_rev", 
#     "toa_9", 
#     "toa_10", 
#     "toa_10_rev", 
#     "toa_11", 
#     "toa_12", 
#     "toa_12_rev", 
#     "toa_13", 
#     "toa_14", 
#     "toa_14_rev", 
#     "toa_15", 
#     "toa_16", 
#     "toa_16_rev", 
    "score_toa_novelty", # tolerance of ambiguity
    "score_toa_complexity", 
    "score_toa_insolubility", 
#     "rme_1", 
#     "rme_2", 
#     "rme_3", 
#     "rme_4", 
#     "rme_5", 
#     "rme_6", 
#     "rme_7", 
#     "rme_8", 
#     "rme_9", 
#     "rme_10", 
#     "rme_11", 
#     "rme_12", 
#     "rme_13", 
#     "rme_14", 
#     "rme_15", 
#     "rme_16", 
#     "rme_17", 
#     "rme_18", 
#     "rme_19", 
#     "rme_20", 
#     "rme_21", 
#     "rme_22", 
#     "rme_23", 
#     "rme_24", 
#     "rme_25", 
#     "rme_26", 
#     "rme_27", 
#     "rme_28", 
#     "rme_29", 
#     "rme_30", 
#     "rme_31", 
#     "rme_32", 
#     "rme_33", 
#     "rme_34", 
#     "rme_35", 
#     "rme_36", 
    "score_rme", # Mind in the Eyes
#     "prob_coher_14A_1", 
#     "prob_coher_35A_1", 
#     "prob_coher_5A_1", 
#     "prob_coher_60A_1", 
#     "prob_coher_5Acomp_1", 
#     "prob_coher_57Acomp_1", 
#     "prob_coher_60Acomp_1", 
#     "prob_coher_14B_1", 
#     "prob_coher_35B_1", 
#     "prob_coher_5B_1", 
#     "prob_coher_57B_1", 
#     "prob_coher_60B_1", 
#     "prob_coher_14AUB_1", 
#     "prob_coher_35AUB_1", 
#     "prob_coher_57AUB_1", 
    "coh_score_4way", 
    "coh_score_3way", 
    "coh_score_2way"]

# omitted tests:
# Berlin numeracy
# Number sequences
# Letter sequences
# Cognitive Reflection Task
# need for cognition
# Social Value Orientation

In [123]:
mturk.loc[:,["gender"]] = [int(x == "f") for x in mturk.loc[:,"gender"]]

age_dict = {'18-24':0, '25-34':1, '35-44':2, '45-54':3, '55-64':4, '65+':5}
mturk.loc[:,["age"]] = [age_dict[x] for x in mturk.loc[:,"age"]]

In [111]:
mturk

,block,cond,team,requested_avatar,team_lead,age,gender,education,college_major_1,college_major_2,...,prob_coher_35B_1,prob_coher_5B_1,prob_coher_57B_1,prob_coher_60B_1,prob_coher_14AUB_1,prob_coher_35AUB_1,prob_coher_57AUB_1,coh_score_4way,coh_score_3way,coh_score_2way
user_id,,,,,,,,,,,,,,,,,,,,,
1001,2,bard,NaN,nyjets,1,1,0,4,Sociology,(Not applicable),...,0,100,0,100,100,100,100,148.16784,141.87310,99.00894
1002,2,bard,NaN,jasonbourne,0,3,0,2,business,(Not applicable),...,10,71,23,21,11,75,22,64.53038,62.67254,30.58160
1003,1,bard,NaN,thepinkpanther,1,2,1,6,Political Science,NaN,...,0,100,1,100,100,100,100,152.86180,146.56544,97.40856
1004,2,swarm,NaN,myname,1,4,1,1,(Not applicable),(Not applicable),...,100,100,50,50,100,100,50,142.52418,125.42590,87.54354
1005,2,ctrl_team,NaN,jasonbourne,1,1,0,2,Computer Science,(Not applicable),...,0,100,50,50,70,100,50,114.84628,101.42316,81.20144
1006,2,swarm,NaN,thepinkpanther,0,3,1,1,(Not applicable),(Not applicable),...,50,100,49,51,50,50,50,111.03430,95.54588,81.75006
1007,1,coarg,NaN,myname,0,1,1,2,Early childhood education,(Not applicable),...,72,100,50,50,100,74,50,126.31196,112.75590,81.46144
1008,1,bard,NaN,thepinkpanther,0,4,0,4,Civil Engineering,(Not applicable),...,0,100,50,70,100,100,50,134.60552,123.66568,87.40144
1009,1,coarg,NaN,nyjets,0,2,0,1,(Not applicable),(Not applicable),...,0,100,21,24,28,100,18,89.51856,79.96190,57.59136
1010,3,choice,NaN,expertreasoner,1,3,1,4,marketing,business ethics,...,0,100,0,100,100,100,100,152.45312,139.86604,98.80300
1011,2,swarm,NaN,jasonbourne,0,1,1,3,Computer Science,(Not applicable),...,5,100,50,50,50,92,50,119.08788,102.13290,79.53646
1012,2,swarm,NaN,thepinkpanther,0,1,0,4,Sports Medicine,(Not applicable),...,0,100,50,50,100,100,50,136.15388,118.18378,95.61232
1013,1,trace,NaN,thepinkpanther,0,1,0,1,(Not applicable),(Not applicable),...,11,28,51,32,93,9,51,108.00140,85.92204,80.08854
1014,3,choice,NaN,thepinkpanther,1,1,0,2,(Not applicable),(Not applicable),...,0,50,50,50,50,100,50,110.64858,103.52064,71.60216
1015,1,swarm,NaN,thepinkpanther,0,0,0,3,Computer Networking,(Not applicable),...,77,96,85,77,55,12,84,127.81650,107.75432,79.88574
1016,2,trace,NaN,thepinkpanther,0,1,0,4,Computer Science,(Not applicable),...,0,88,51,51,93,100,52,118.70492,105.71966,84.08172
1017,1,swarm,NaN,nyjets,0,3,1,2,(Not applicable),(Not applicable),...,0,100,5,5,100,90,40,98.95264,95.24420,NaN
1018,1,swarm,NaN,nyjets,0,3,0,4,Hospitality Management,(Not applicable),...,7,98,50,42,98,97,60,135.95840,125.48756,85.20514
1019,1,coarg,NaN,thepinkpanther,1,1,0,4,Education,(Not applicable),...,0,100,0,16,100,100,70,113.94052,106.85704,74.86132
1020,1,swarm,NaN,nyjets,0,2,1,4,English,(Not applicable),...,50,100,50,50,100,100,50,130.85004,119.26474,83.72816
1021,3,choice,NaN,nyjets,1,5,1,5,Education,(Not applicable),...,0,100,50,50,100,100,50,132.49850,119.40412,89.81304
1022,2,swarm,NaN,jasonbourne,0,4,1,3,Nursing,(Not applicable),...,0,100,50,50,100,100,51,128.41594,116.62576,85.19772
1023,2,swarm,NaN,nyjets,0,1,0,3,Psychology,(Not applicable),...,0,100,75,55,87,100,67,126.88470,112.41602,78.57288
1024,1,swarm,NaN,jasonbourne,0,2,1,1,(Not applicable),(Not applicable),...,50,100,20,27,97,51,21,98.74604,87.66870,64.22408
1025,1,swarm,NaN,expertreasoner,1,4,1,4,Accounting,Business Administration,...,0,100,0,50,100,100,100,148.64730,134.51270,98.49094
1026,2,ctrl_team,NaN,nyjets,1,1,0,4,Political Science,(Not applicable),...,0,100,35,50,92,100,51,120.43126,115.31430,75.84894
1027,1,coarg,NaN,jasonbourne,1,2,1,2,(Not applicable),(Not applicable),...,0,100,50,50,100,100,50,129.72330,119.40412,85.51846
1028,2,bard,NaN,thepinkpanther,1,1,1,2,(Not applicable),(Not applicable),...,0,100,50,41,100,100,66,126.66882,115.79276,85.01570
1029,2,swarm,NaN,jasonbourne,0,2,1,3,computer tech,nursing,...,51,100,40,20,100,50,51,111.90848,101.55238,80.08698
1030,2,swarm,NaN,thepinkpanther,0,4,0,3,History,(Not applicable),...,99,75,40,50,99,99,30,128.64290,117.04740,83.10316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1272,2,swarm,NaN,nyjets,1,2,0,1,(Not applicable),(Not applicable),...,0,13,24,21,100,99,20,110.56004,97.56906,88.01350
1273,1,swarm,NaN,nyjets,0,1,1,2,(Not applicable),(Not applicable),...,0,100,31,49,100,100,49,129.36092,107.03830,84.56066
1274,1,swarm,NaN,expertreasoner,0,4,0,2,Computer Science,(Not applicable),...,84,100,50,54,88,94,56,124.50486,112.10654,72.58348
1275,1,swarm,NaN,nyjets,1,4,1,3,Art history,art designer,...,0,100,51,41,51,50,100,146.29390,131.89422,108.79866
1276,2,coarg,NaN,thepinkpanther,1,4,1,1,(Not applicable),(Not applicable),...,0,100,50,50,100,100,50,129.79922,118.29926,87.40144
1277,1,ctrl_team,NaN,jasonbourne,0,3,1,3,Computer Processing,(Not applicable),...,100,100,100,0,100,100,100,155.30726,117.86690,107.34284
1278,1,swarm,NaN,jasonbourne,0,1,1,3,biology,(Not applicable),...,0,100,51,51,100,100,70,134.78776,124.59518,82.31010
1279,2,swarm,NaN,nyjets,1,1,1,2,(Not applicable),(Not applicable),...,100,100,0,50,100,100,100,137.93494,130.39776,87.40362
1280,2,swarm,NaN,myname,0,1,1,4,(Not applicable),(Not applicable),...,62,100,9,83,96,100,66,132.46004,118.78810,80.35820
1281,1,coarg,NaN,expertreasoner,0,2,1,2,RN,(Not applicable),...,15,40,1,5,20,35,3,91.92852,53.73254,75.15344
1282,2,swarm,NaN,jasonbourne,1,1,0,2,Computer Science,(Not applicable),...,0,100,50,50,100,100,50,126.71122,119.91584,81.60216
1283,2,bard,NaN,thepinkpanther,1,1,1,1,(Not applicable),(Not applicable),...,11,100,50,50,97,30,50,109.35590,88.68598,76.72304
1284,1,ctrl_team,NaN,myname,1,1,1,3,business office technology,(Not applicable),...,15,100,1,2,3,15,1,44.85236,35.19040,28.40160
1285,1,swarm,NaN,jasonbourne,0,3,0,1,(Not applicable),(Not applicable),...,19,88,76,40,97,78,70,128.50126,113.87670,89.29578
1286,2,ctrl_team,NaN,expertreasoner,1,1,0,4,computer engineering,(Not applicable),...,0,50,39,21,62,50,50,106.17360,92.05644,75.21454
1287,2,swarm,NaN,nyjets,0,1,1,6,Biology,Neuroscience,...,0,100,2,87,100,100,100,149.67676,141.81476,97.56970
1288,1,ctrl_team,NaN,nyjets,0,0,1,4,Anthropology,(Not applicable),...,0,100,50,50,100,0,100,134.40738,104.50272,87.40144
1289,2,bard,NaN,nyjets,1,2,0,2,(Not applicable),(Not applicable),...,100,100,50,50,100,100,50,133.84906,118.18378,83.40144
1290,2,ctrl_team,NaN,nyjets,1,3,1,1,(Not applicable),(Not applicable),...,0,0,0,100,100,100,100,152.70912,140.00710,107.34284
1291,2,swarm,NaN,nyjets,1,1,1,4,communications,(Not applicable),...,0,100,50,50,100,100,50,129.11958,117.48584,86.57958
1292,2,bard,NaN,thepinkpanther,0,3,0,1,(Not applicable),(Not applicable),...,0,54,35,30,100,100,39,107.62180,99.75984,75.51426
1293,1,ctrl_team,NaN,jasonbourne,1,2,1,3,(Not applicable),(Not applicable),...,0,100,0,100,100,100,100,145.19344,130.69914,97.40000
1294,1,ctrl_ind,NaN,myname,1,0,0,1,(Not applicable),(Not applicable),...,0,50,50,75,100,100,90,123.59752,114.07014,88.37092
1295,1,swarm,NaN,nyjets,1,2,1,2,general studies,(Not applicable),...,16,100,41,29,100,62,58,122.28772,105.22806,83.87426
1296,1,swarm,NaN,nyjets,0,2,1,3,Graphic Design,Media Production,...,60,100,50,50,100,60,50,120.18816,104.40768,82.56024
1297,2,ctrl_team,NaN,jasonbourne,1,1,1,5,economics,resource management,...,0,0,98,92,100,51,100,140.88542,140.76806,85.27364
1298,1,swarm,NaN,myname,0,1,0,3,(Not applicable),(Not applicable),...,41,91,19,50,100,60,30,99.74732,97.03232,53.76896
1299,2,trace,NaN,thepinkpanther,1,1,0,1,(Not applicable),(Not applicable),...,0,95,5,50,100,100,95,126.28996,115.88360,87.28214
1300,2,swarm,NaN,jasonbourne,1,2,1,1,(Not applicable),(Not applicable),...,0,100,50,88,50,50,51,136.32206,125.93062,96.04568
1301,1,coarg,NaN,expertreasoner,1,2,1,2,business,(Not applicable),...,0,100,50,50,100,100,91,135.34258,124.18862,88.10922

In [112]:
df = mturk[relevant_vars]
df.dtypes

block                            int64
team_lead                        int64
age                              int64
gender                           int64
education                        int64
english_proficiency              int64
enjoy_logic_probs                int64
enjoy_num_probs                  int64
expertise_math                   int64
expertise_quant_model            int64
expertise_stats                  int64
expertise_prob                   int64
expertise_bayes_net              int64
expertise_programming            int64
expertise_exp_design             int64
expertise_risk_analysis          int64
expertise_forecasting            int64
expertise_dec_theory             int64
expertise_game_theory            int64
expertise_sats                   int64
expertise_arg_map                int64
expertise_inf_logic              int64
expertise_sys_think              int64
expertise_image_analysis         int64
expertise_link_analysis          int64
expertise_graphic_design         int64
expertise_tech_writing           int64
score_matrix                     int64
score_prob_reas                  int64
score_aomt                     float64
score_bfi_openness             float64
score_bfi_conscientiousness    float64
score_bfi_extraversion         float64
score_bfi_agreeableness        float64
score_bfi_neuroticism          float64
score_toa_novelty              float64
score_toa_complexity           float64
score_toa_insolubility         float64
score_rme                        int64
coh_score_4way                 float64
coh_score_3way                 float64
coh_score_2way                 float64
dtype: object

In [113]:
i = 1
j = 2
scipy.spatial.distance.cityblock(df.iloc[i], df.iloc[j])

294.88208808080805

In [22]:
# import pandas as pd
# import numpy as np
# import random

# ################################################################################
# # create realistic sample data

# # create empty df with 700 rows
# index = range(700)
# newdf = pd.DataFrame(index=index, columns=dd.index.values)

# # sample gender from a multinomial with 49% male, 49% female, 2% other
# newdf["gender"] = np.where(np.random.multinomial(1, [.49, .49, .02], 700))[1] + 1

# # sample age
# newdf["age"] = (np.random.binomial(50, .5, (1,700)) + \
#                 [random.randint(7, 30) for x in range(700)])[0]

# # sample education
# # 1 = high school; 2 = some college; 3 = associate's degree; 
# # 4 = bachelor's degree; 5 = master's degree; 6 = professional degree or doctorate

# # Because T&E are insisting all participants have a Bachelor's, the probability 
# # of values 1, 2 or 3 is zero.
# # Probability of getting an advanced degree increases with age.
# eds = []
# for i in range(700):
#     if newdf["age"][i] <= 23:
#         probs = [1., 0., 0.]
#     elif newdf["age"][i] <= 27:
#         probs = [.9, .1, 0.]
#     elif newdf["age"][i] <= 35:
#         probs = [.8, .15, .05]
#     else:
#         probs = [.7, .2, .1]
#     eds.append((np.where(np.random.multinomial(1, probs, 1))[1] + 4)[0])

# newdf["education"] = eds

In [24]:
################################################################################
# create unrealistic sample data

# draw continuous vars from a multivariate normal
sigma = [[1., .2, .3], [.2, 1., .5], [.3, .5, 1.]]
fakedata = np.random.multivariate_normal([0,0,0], sigma, 700)
fakedf = pd.DataFrame(fakedata)

# draw a binary var from a bernoulli
fakedf[3] = np.random.binomial(1,.5, 700)

# in this sample script we will use the name 'df' to refer to the data 
df = fakedf

In [25]:
df.head()

          0         1         2  3
0 -0.976436 -1.842881 -1.639783  0
1  1.672534  0.671558  1.164834  0
2  0.208748  1.464550  1.652363  1
3 -0.087082 -1.390549  0.714932  0
4 -0.126148  0.737634  1.370044  1

# Distance measures

- Mahalanobis-based methods
    - Intro: [Mahalanobis distance](https://en.wikipedia.org/wiki/Mahalanobis_distance) is "a dissimilarity measure between two random vectors x and y of the same distribution"
    - [A generalized Mahalanobis distance for mixed data](https://people.ucalgary.ca/~adeleon/JMVA_mahalanobis.pdf)
        - I don't think this will scale well when there are lots of discrete variables
    - [Distance functions for categorical and mixed variables](https://www-sciencedirect-com.ezp.lib.unimelb.edu.au/science/article/pii/S0167865508000524)
    - [Distance Functions for Categorical and Mixed Variables](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.139.5738&rep=rep1&type=pdf)
    - [Estimating the Mahalanobis Distance from Mixed Continuous and Discrete Data](http://onlinelibrary.wiley.com/doi/10.1111/j.0006-341X.2000.00394.x/abstract)
    - [Generalization of the Mahalanobis Distance in the Mixed Case](http://www.sciencedirect.com/science/article/pii/S0047259X85710408)
- [Chi square and categorial distance (see last few pages)](http://84.89.132.1/~michael/stanford/maeb4.pdf)
- [Improved Heterogeneous Distance Functions](https://arxiv.org/pdf/cs/9701101.pdf)
- [Gower similarity](https://stats.stackexchange.com/questions/15287/hierarchical-clustering-with-mixed-type-data-what-distance-similarity-to-use/15313#15313). See also [this explanation](https://dpmartin42.github.io/blogposts/r/cluster-mixed-types#calculating-distance).
- [Clustering mixed data](http://onlinelibrary.wiley.com.ezp.lib.unimelb.edu.au/doi/10.1002/widm.33/full)
- [Informational distances and related statistics in mixed continuous and categorical variables](https://www-sciencedirect-com.ezp.lib.unimelb.edu.au/science/article/pii/S0378375898001207)
- [Jaccard, simple matching, normalized ranks, etc.](https://stat.ethz.ch/education/semesters/ss2012/ams/slides/v4.2.pdf)

In [13]:
import scipy.spatial

################################################################################
# DISTANCE FUNCTION
# TODO:
# create distance function that takes a colname (or index? Or list of colnames 
# that are being treated similarly?), weight, and distance type, and outputs the
# component of Gower Distance from that column.
# The continuous part must be able to range-normalize AND deal with outliers. 
# Could write one function per distance type.

# some messing around to test variaous things:

# get manhattan distance for just one column. Use "loc" to select column while retaining DF structure.
coldist_0 = scipy.spatial.distance.pdist(fakedf.loc[:, [0]], 'cityblock')
# normalize by range of manhattan distances
coldist_0 = (coldist_0 - coldist_0.min()) / (coldist_0.max() - coldist_0.min())
# check max is now 1
print(coldist_0.max())
# check that converting back to square form preserves shape
print(scipy.spatial.distance.squareform(coldist_0).shape)
# check that you can sum squareforms
print((scipy.spatial.distance.squareform(coldist_0) + scipy.spatial.distance.squareform(coldist_0)).max())

# get hamming distance for just one column. Use "loc" to select column while retaining DF structure.
coldist_3 = scipy.spatial.distance.pdist(fakedf.loc[:, [3]], 'hamming')
# check that converting back to square form preserves shape
print(scipy.spatial.distance.squareform(coldist_3).shape)
# check that you can sum squareforms
print((scipy.spatial.distance.squareform(coldist_3) + scipy.spatial.distance.squareform(coldist_3)).max())

1.0
(700, 700)
2.0
(700, 700)
2.0

In [78]:
df

            0         1         2  3  team  random_team
0   -4.882179 -3.685763 -1.639783  0    12           17
1    8.362669  1.343116  1.164834  0    16           10
2    1.043738  2.929100  1.652363  1    13           15
3   -0.435408 -2.781098  0.714932  0    17            3
4   -0.630741  1.475269  1.370044  1     3            7
5   -4.247717 -1.245915 -0.527912  1    13            0
6    3.504537 -2.232376 -1.031104  1    19            6
7    0.277094 -1.877187  1.035217  1     3           17
8    4.079873 -1.061481  0.512166  0     5            4
9    3.879564  0.881957  0.491394  0    13            9
10  -5.317655  4.578461  2.237478  1     3            9
11   1.663653 -2.465800 -0.629104  1    13           16
12  -3.896834 -0.175224 -0.673259  0    13           13
13   6.457577  0.415068  0.325981  0    13           18
14  -0.810109 -0.748036 -0.074201  0     5           12
15  -7.439968 -2.197118 -0.748364  1    16            3
16   2.352568  3.530870  1.119523  1     7            8
17   6.732700  1.090675  0.024983  1    17           10
18   1.517025  0.860039 -0.502071  1    11            7
19  -0.119882 -0.466850 -0.933012  1    14           11
20  -4.565040 -0.661327  0.496048  1    17           12
21  -2.214163 -1.703631  0.089393  0     6           18
22  -5.228324  2.037114  0.780880  1    11            3
23   0.735751 -1.796702  0.467018  0    11            8
24   9.686109 -0.950345  0.539113  0    18            7
25  -1.305197  0.396501  0.516446  1    10            3
26  -5.243609 -1.312040 -1.193476  0     9           17
27  -0.045090  2.926538  0.234788  0     2           10
28   3.934892  5.490983  2.652850  0    13            2
29  -1.843292  0.327572  0.650971  0     6           14
..        ...       ...       ... ..   ...          ...
670  6.564712 -2.220706 -0.930455  1     5           15
671  0.043137 -3.610091 -2.054052  0    13           19
672 -0.307027  0.858068 -0.806912  0     7           19
673  6.425353  0.462477 -0.492414  1     7           13
674 -4.574480 -1.492160 -0.793701  1    10            1
675  1.977663 -0.680030  0.918799  0     8            1
676 -7.469782 -0.664687  1.023040  1    10           19
677 -0.235008 -0.358324 -1.122115  0    14            8
678  3.643385  0.857650  0.249337  1    16           12
679  3.213988  0.043171  0.015866  1     2            0
680  4.227288  2.867763  0.118523  1    17           17
681  2.647452  2.230230  0.626341  1     8           14
682  5.563207  1.026658 -0.708094  0    18            5
683 -4.447716  2.199158 -0.525364  0    11           15
684  2.960819  2.949298  0.936494  0     6            9
685  5.955622  0.032306  0.112556  0    12            3
686  2.049536 -1.909301  1.873796  1    19            5
687  5.940516 -0.420867 -0.671429  1    11            5
688  9.591869 -0.540560  1.786319  1     6            2
689 -4.545425 -1.299042 -0.752104  1     6           19
690 -0.461735 -0.265779  0.151245  1    11           13
691  2.770426  0.575633 -1.514895  0    19            1
692  4.686466 -3.134076 -1.046887  1    11            9
693 -0.022263 -2.654455 -1.299812  1     4           13
694  3.676359  3.331691  1.447922  0     8           16
695 -0.566996 -2.769740 -0.837903  1    15           19
696  3.520145  1.897326  0.110384  0    14            6
697 -1.442419 -0.196894 -0.348309  1    16            3
698 -3.579417  1.690493  0.237105  1    18            8
699 -4.964575 -2.011218 -0.354832  1    18            1

[700 rows x 6 columns]

In [41]:
df.loc[:, [1]] = df.loc[:, [1]]*2

In [42]:
import os

# set parameters for team assignment
# learn number of participants from input data
n = df.shape[0]

# set the number of teams
num_teams = 20

# team size limits
# TODO: include a test of whether the sample size is too small or too large
lims = " 30 37"

# where to write the file for the solver
instance_filename = 'test_instance_manhattan.txt'

# if instance file already exists, remove it
try:
    os.remove(instance_filename)
except OSError:
    pass

# TODO: incorporate new distance function here
# write distances to file
with open(instance_filename, 'a') as the_file:
    the_file.write(str(n) + " " + str(num_teams) + " ss" + str(lims)*num_teams + "\n")
    for i in range(n):
        for j in range(i+1, n):
            mdist = scipy.spatial.distance.cityblock(df.loc[i], df.loc[j])
            the_file.write(str(i) + " " + str(j) + " " + str(mdist) + "\n")

# run solver on instance file, write data to solver file
import subprocess
solver_filename = "test_output_manhattan_2.txt"
bash_command = "java -jar mdgp_jors_2011.jar SO " + instance_filename + " 60000 > " + solver_filename
subprocess.call(bash_command, shell=True)

# read solution from file 
with open(solver_filename) as f:
    content = f.readlines()

# remove whitespace characters like `\n` at the end of each line
content = [x.strip() for x in content]

# identify line where solution is written
sol_index = np.where([item.startswith('Solution: [') for item in content])

# turn into list of ints
solution = [int(x) for x in content[sol_index[0][0]][11:-1].split(", ")]

# add MDGP solution to dataframe of initial data
df["team"] = solution

In [27]:
################################################################################
# EVALUATION
# for comparison, let's look at the kind of teams we get with random assignment
random_team = [0,1,2,3,4,5,6,7,8,9,
       10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
random_team = random_team * 35
random.shuffle(random_team)
df["random_team"] = random_team

# TODO: write a function that can take a variable (or list of similar vars) and 
# its data type, and produce a report on how much the MDGP solver improves 
# balance compared to random assignment.

In [44]:
grouped = df.groupby(['team'])

In [45]:
grouped.mean()

             0         1         2         3  random_team
team
0     0.029311 -0.083592 -0.047540  0.513514     9.540541
1     0.201937 -0.141859 -0.020901  0.513514     9.378378
2    -0.100550 -0.087116 -0.018897  0.540541     9.594595
3     0.177313 -0.039352 -0.061552  0.513514     9.378378
4     0.069568 -0.074793 -0.067779  0.540541     9.513514
5     0.045868 -0.097553 -0.048119  0.533333     9.566667
6    -0.055112 -0.056442 -0.078740  0.513514     9.513514
7     0.111388 -0.078509 -0.023048  0.540541     9.621622
8     0.069903 -0.068556 -0.074696  0.513514     9.594595
9     0.093458  0.071604 -0.051157  0.540541     9.459459
10    0.053000 -0.008203 -0.059386  0.540541     9.432432
11    0.001973  0.008520 -0.093537  0.533333     9.433333
12   -0.044760 -0.052421 -0.060677  0.533333     9.366667
13    0.091303 -0.079154 -0.080476  0.513514     9.540541
14    0.167580 -0.045677 -0.017420  0.533333     9.433333
15    0.064244 -0.018099 -0.040662  0.513514     9.540541
16    0.063226 -0.049336  0.001378  0.531250     9.437500
17    0.127748 -0.081059 -0.054352  0.533333     9.600000
18    0.034395 -0.008872 -0.034708  0.513514     9.486486
19   -0.023572 -0.009196 -0.103998  0.540541     9.540541

In [46]:
grouped2 = df.groupby(['random_team'])
grouped2.mean()

                    0         1         2         3       team
random_team
0            1.643059  0.157000 -0.029298  0.571429   7.914286
1            0.327536 -0.107900 -0.130652  0.657143   9.342857
2            0.738450  0.218880  0.142760  0.428571   9.685714
3            0.512692 -0.328255 -0.135279  0.571429  10.142857
4           -0.748377 -1.075727 -0.324948  0.628571   8.628571
5            0.835907 -0.446854 -0.109916  0.485714  10.142857
6           -0.274945 -0.011628 -0.058818  0.542857   9.514286
7            0.606967  0.044222  0.120593  0.628571   8.457143
8           -0.739271  0.156135  0.199790  0.485714  10.000000
9           -1.144850  0.129105 -0.263837  0.485714   9.371429
10           1.015220 -0.005966 -0.010551  0.457143   9.885714
11           0.284576 -0.204560 -0.285232  0.514286   9.457143
12           0.356870  0.600781  0.097295  0.514286   9.171429
13           0.038750  0.166790  0.088133  0.400000   9.800000
14          -0.200903 -0.013510  0.027671  0.457143   9.114286
15           0.095086  0.579186  0.170655  0.657143   9.942857
16          -0.480593  0.096211 -0.141395  0.428571   8.371429
17           0.277516 -0.385457 -0.105977  0.485714  10.571429
18          -0.776440 -0.345191 -0.046552  0.571429   9.085714
19          -1.190414 -0.219366 -0.245302  0.571429   8.171429

In [47]:
grouped.var().var()

0              5.388183e+01
1              1.317647e+00
2              1.059560e-01
3              7.815863e-07
random_team    2.684022e+01
dtype: float64

In [48]:
grouped2.var().var()

0       37.468868
1        1.486488
2        0.035319
3        0.000066
team     5.490208
dtype: float64

In [49]:
grouped.mean().var()

0              0.006169
1              0.002174
2              0.000755
3              0.000146
random_team    0.006346
dtype: float64

In [50]:
grouped2.mean().var()

0       0.564405
1       0.138618
2       0.024726
3       0.006056
team    0.528660
dtype: float64

In [51]:
print((grouped.mean()[[0,1,2]] - df.mean()[[0,1,2]]).std())
print((grouped2.mean()[[0,1,2]] - df.mean()[[0,1,2]]).std())

0    0.078541
1    0.046626
2    0.027486
dtype: float64
0    0.751269
1    0.372314
2    0.157245
dtype: float64

In [52]:
((grouped.mean()[[0,1,2]] - df.mean()[[0,1,2]]).std()) / ((grouped2.mean()[[0,1,2]] - df.mean()[[0,1,2]]).std())

0    0.104544
1    0.125232
2    0.174799
dtype: float64

In [37]:
((grouped.mean()[[0,1,2]] - df.mean()[[0,1,2]]).std()) / ((grouped2.mean()[[0,1,2]] - df.mean()[[0,1,2]]).std())

0    0.098724
1    0.091466
2    0.067434
dtype: float64

In [ ]:
# requirements 
import pandas as pd
import numpy as np
import random
import scipy.spatial
import os
import subprocess
import sys

# get input and output filenames from sys argv
inputfile = "users_mturk.csv"
outputfile = "users_mturk_output.csv"
input_data = pd.DataFrame.from_csv(inputfile)

# save the indices of the cells we'll need to change in the output data
swarm_rows = np.where(input_data["cond"] == "swarm")[0]
team_col = np.where(input_data.columns.values == "team")[0]

# remove participants from other performers
df = input_data[input_data["cond"] == "swarm"].copy()

# k teams per block (k=14 in the December 8 version of the experimental design)
k = 14
n = df.shape[0]

# test whether JDK is installed
proc = subprocess.Popen("javac -version", stdout=subprocess.PIPE, shell=True)
output = proc.stdout.read()
have_java = output[0:5].decode("utf-8") == "javac"
if not have_java:
    msg = """You do not have the Java compiler installed. The Maximally 
          Diverse Grouping Problem solver requires JDK 6 or higher. 
          Please run `sudo apt-get install openjdk-8-jdk` and then try 
          running this script again."""
    sys.exit(msg)

relevant_vars = ["block", 
#     "cond", 
#     "team", 
#     "requested_avatar", 
    "team_lead", 
    "age", 
    "gender", 
    "education", 
#     "college_major_1", 
#     "college_major_2", 
#     "college_minor_1", 
#     "college_minor_2", 
#     "occupation", 
    "english_proficiency", 
#     "other_lang_proficien_1", 
#     "other_lang_proficien_1_TEXT", 
#     "other_lang_proficien_2", 
#     "other_lang_proficien_2_TEXT", 
#     "other_lang_proficien_3", 
#     "other_lang_proficien_3_TEXT", 
#     "other_lang_proficien_4", 
#     "other_lang_proficien_4_TEXT", 
#     "other_lang_proficien_5", 
#     "other_lang_proficien_5_TEXT", 
#     "other_lang_proficien_6", 
#     "other_lang_proficien_6_TEXT", 
    "enjoy_logic_probs", 
    "enjoy_num_probs", 
    "expertise_math", 
    "expertise_quant_model", 
    "expertise_stats", 
    "expertise_prob", 
    "expertise_bayes_net", 
    "expertise_programming", 
    "expertise_exp_design", 
    "expertise_risk_analysis", 
    "expertise_forecasting", 
    "expertise_dec_theory", 
    "expertise_game_theory", 
    "expertise_sats", 
    "expertise_arg_map", 
    "expertise_inf_logic", 
    "expertise_sys_think", 
    "expertise_image_analysis", 
    "expertise_link_analysis", 
    "expertise_graphic_design", 
    "expertise_tech_writing", 
#     "prob_coher_35Acomp_1", 
#     "prob_coher_57A_1", 
#     "prob_coher_14Acomp_1", 
#     "prob_coher_60AUB_1", 
#     "prob_coher_5AUB_1", 
#     "matrix_1", 
#     "matrix_2", 
#     "matrix_3", 
#     "matrix_4", 
#     "matrix_5", 
#     "matrix_6", 
#     "matrix_7", 
#     "matrix_8", 
#     "matrix_9", 
#     "matrix_10", 
#     "matrix_11", 
    "score_matrix", # matrix reasoning test
#     "prob_reas_1", 
#     "prob_reas_2", 
#     "prob_reas_3", 
#     "prob_reas_4", 
#     "prob_reas_5", 
#     "prob_reas_6", 
#     "prob_reas_7", 
#     "prob_reas_8", 
#     "prob_reas_9", 
#     "prob_reas_10", 
#     "prob_reas_11", 
#     "prob_reas_12", 
#     "prob_reas_13", 
#     "prob_reas_14", 
#     "prob_reas_15", 
#     "prob_reas_16", 
    "score_prob_reas", # probabilistic reasoning test
#     "aomt_1", 
#     "aomt_2", 
#     "aomt_3", 
#     "aomt_4", 
#     "aomt_4_rev", 
#     "aomt_5", 
#     "aomt_5_rev", 
#     "aomt_6", 
#     "aomt_6_rev", 
#     "aomt_7", 
#     "aomt_7_rev", 
#     "aomt_8", 
#     "aomt_9", 
#     "aomt_9_rev", 
#     "aomt_10", 
#     "aomt_11", 
    "score_aomt", # actively open-minded thinking test
#     "bfi_1", 
#     "bfi_2", 
#     "bfi_3", 
#     "bfi_4", 
#     "bfi_5", 
#     "bfi_6", 
#     "bfi_7", 
#     "bfi_8", 
#     "bfi_9", 
#     "bfi_10", 
#     "bfi_1_rev", 
#     "bfi_3_rev", 
#     "bfi_4_rev", 
#     "bfi_5_rev", 
#     "bfi_7_rev", 
    "score_bfi_openness", # big five personality inventory
    "score_bfi_conscientiousness", 
    "score_bfi_extraversion", 
    "score_bfi_agreeableness", 
    "score_bfi_neuroticism", 
#     "toa_1", 
#     "toa_2", 
#     "toa_2_rev", 
#     "toa_3", 
#     "toa_4", 
#     "toa_4_rev", 
#     "toa_5", 
#     "toa_6", 
#     "toa_6_rev", 
#     "toa_7", 
#     "toa_8", 
#     "toa_8_rev", 
#     "toa_9", 
#     "toa_10", 
#     "toa_10_rev", 
#     "toa_11", 
#     "toa_12", 
#     "toa_12_rev", 
#     "toa_13", 
#     "toa_14", 
#     "toa_14_rev", 
#     "toa_15", 
#     "toa_16", 
#     "toa_16_rev", 
    "score_toa_novelty", # tolerance of ambiguity
    "score_toa_complexity", 
    "score_toa_insolubility", 
#     "rme_1", 
#     "rme_2", 
#     "rme_3", 
#     "rme_4", 
#     "rme_5", 
#     "rme_6", 
#     "rme_7", 
#     "rme_8", 
#     "rme_9", 
#     "rme_10", 
#     "rme_11", 
#     "rme_12", 
#     "rme_13", 
#     "rme_14", 
#     "rme_15", 
#     "rme_16", 
#     "rme_17", 
#     "rme_18", 
#     "rme_19", 
#     "rme_20", 
#     "rme_21", 
#     "rme_22", 
#     "rme_23", 
#     "rme_24", 
#     "rme_25", 
#     "rme_26", 
#     "rme_27", 
#     "rme_28", 
#     "rme_29", 
#     "rme_30", 
#     "rme_31", 
#     "rme_32", 
#     "rme_33", 
#     "rme_34", 
#     "rme_35", 
#     "rme_36", 
    "score_rme", # Mind in the Eyes
#     "prob_coher_14A_1", 
#     "prob_coher_35A_1", 
#     "prob_coher_5A_1", 
#     "prob_coher_60A_1", 
#     "prob_coher_5Acomp_1", 
#     "prob_coher_57Acomp_1", 
#     "prob_coher_60Acomp_1", 
#     "prob_coher_14B_1", 
#     "prob_coher_35B_1", 
#     "prob_coher_5B_1", 
#     "prob_coher_57B_1", 
#     "prob_coher_60B_1", 
#     "prob_coher_14AUB_1", 
#     "prob_coher_35AUB_1", 
#     "prob_coher_57AUB_1", 
    "coh_score_4way", 
    "coh_score_3way", 
    "coh_score_2way"]

# convert gender and age into numeric variables
df.loc[:,"gender"] = [int(x == "f") for x in df.loc[:,"gender"]]
age_dict = {'18-24':0, '25-34':1, '35-44':2, '45-54':3, '55-64':4, '65+':5}
df.loc[:,["age"]] = [age_dict[x] for x in df.loc[:,"age"]]

# subset to relevant variables
df = df[relevant_vars]

# replace null values with medians
for i in range(df.shape[1]):
    good_enough = df.iloc[:,i].median()
    df.iloc[np.where(df.isnull().iloc[:, i])[0], i] = good_enough

# set the number of teams
num_teams = 14

# team size limits
# TODO: include a test of whether the sample size is too small or too large
lims = " 30 37"

# where to write the file for the solver
instance_filename = 'test_instance_manhattan.txt'

In [151]:
# if instance file already exists, remove it
try:
    os.remove(instance_filename)
except OSError:
    pass

# TODO: incorporate new distance function here
# write distances to file
with open(instance_filename, 'a') as the_file:
    the_file.write(str(n) + " " + str(num_teams) + " ss" + str(lims)*num_teams + "\n")
    for i in range(n):
        for j in range(i+1, n):
            mdist = scipy.spatial.distance.cityblock(df.iloc[i], df.iloc[j])
            if np.isnan(mdist):
                print(mdist, str(i), str(j))
            the_file.write(str(i) + " " + str(j) + " " + str(mdist) + "\n")

nan 0 5
nan 0 15
nan 0 36
nan 0 47
nan 0 54
nan 0 55
nan 0 67
nan 0 72
nan 0 81
nan 1 5
nan 1 15
nan 1 36
nan 1 47
nan 1 54
nan 1 55
nan 1 67
nan 1 72
nan 1 81
nan 2 5
nan 2 15
nan 2 36
nan 2 47
nan 2 54
nan 2 55
nan 2 67
nan 2 72
nan 2 81
nan 3 5
nan 3 15
nan 3 36
nan 3 47
nan 3 54
nan 3 55
nan 3 67
nan 3 72
nan 3 81
nan 4 5
nan 4 15
nan 4 36
nan 4 47
nan 4 54
nan 4 55
nan 4 67
nan 4 72
nan 4 81
nan 5 6
nan 5 7
nan 5 8
nan 5 9
nan 5 10
nan 5 11
nan 5 12
nan 5 13
nan 5 14
nan 5 15
nan 5 16
nan 5 17
nan 5 18
nan 5 19
nan 5 20
nan 5 21
nan 5 22
nan 5 23
nan 5 24
nan 5 25
nan 5 26
nan 5 27
nan 5 28
nan 5 29
nan 5 30
nan 5 31
nan 5 32
nan 5 33
nan 5 34
nan 5 35
nan 5 36
nan 5 37
nan 5 38
nan 5 39
nan 5 40
nan 5 41
nan 5 42
nan 5 43
nan 5 44
nan 5 45
nan 5 46
nan 5 47
nan 5 48
nan 5 49
nan 5 50
nan 5 51
nan 5 52
nan 5 53
nan 5 54
nan 5 55
nan 5 56
nan 5 57
nan 5 58
nan 5 59
nan 5 60
nan 5 61
nan 5 62
nan 5 63
nan 5 64
nan 5 65
nan 5 66
nan 5 67
nan 5 68
nan 5 69
nan 5 70
nan 5 71
nan 5 72
nan 5 73
nan 5 74
nan 5 75
nan 5 76
nan 5 77
nan 5 78
nan 5 79
nan 5 80
nan 5 81
nan 5 82
nan 5 83
nan 5 84
nan 5 85
nan 5 86
nan 5 87
nan 5 88
nan 5 89
nan 5 90
nan 5 91
nan 5 92
nan 5 93
nan 5 94
nan 5 95
nan 5 96
nan 5 97
nan 5 98
nan 5 99
nan 5 100
nan 5 101
nan 5 102
nan 5 103
nan 5 104
nan 5 105
nan 5 106
nan 5 107
nan 5 108
nan 5 109
nan 5 110
nan 5 111
nan 5 112
nan 5 113
nan 5 114
nan 5 115
nan 5 116
nan 5 117
nan 5 118
nan 5 119
nan 6 15
nan 6 36
nan 6 47
nan 6 54
nan 6 55
nan 6 67
nan 6 72
nan 6 81
nan 7 15
nan 7 36
nan 7 47
nan 7 54
nan 7 55
nan 7 67
nan 7 72
nan 7 81
nan 8 15
nan 8 36
nan 8 47
nan 8 54
nan 8 55
nan 8 67
nan 8 72
nan 8 81
nan 9 15
nan 9 36
nan 9 47
nan 9 54
nan 9 55
nan 9 67
nan 9 72
nan 9 81
nan 10 15
nan 10 36
nan 10 47
nan 10 54
nan 10 55
nan 10 67
nan 10 72
nan 10 81
nan 11 15
nan 11 36
nan 11 47
nan 11 54
nan 11 55
nan 11 67
nan 11 72
nan 11 81
nan 12 15
nan 12 36
nan 12 47
nan 12 54
nan 12 55
nan 12 67
nan 12 72
nan 12 81
nan 13 15
nan 13 36
nan 13 47
nan 13 54
nan 13 55
nan 13 67
nan 13 72
nan 13 81
nan 14 15
nan 14 36
nan 14 47
nan 14 54
nan 14 55
nan 14 67
nan 14 72
nan 14 81
nan 15 16
nan 15 17
nan 15 18
nan 15 19
nan 15 20
nan 15 21
nan 15 22
nan 15 23
nan 15 24
nan 15 25
nan 15 26
nan 15 27
nan 15 28
nan 15 29
nan 15 30
nan 15 31
nan 15 32
nan 15 33
nan 15 34
nan 15 35
nan 15 36
nan 15 37
nan 15 38
nan 15 39
nan 15 40
nan 15 41
nan 15 42
nan 15 43
nan 15 44
nan 15 45
nan 15 46
nan 15 47
nan 15 48
nan 15 49
nan 15 50
nan 15 51
nan 15 52
nan 15 53
nan 15 54
nan 15 55
nan 15 56
nan 15 57
nan 15 58
nan 15 59
nan 15 60
nan 15 61
nan 15 62
nan 15 63
nan 15 64
nan 15 65
nan 15 66
nan 15 67
nan 15 68
nan 15 69
nan 15 70
nan 15 71
nan 15 72
nan 15 73
nan 15 74
nan 15 75
nan 15 76
nan 15 77
nan 15 78
nan 15 79
nan 15 80
nan 15 81
nan 15 82
nan 15 83
nan 15 84
nan 15 85
nan 15 86
nan 15 87
nan 15 88
nan 15 89
nan 15 90
nan 15 91
nan 15 92
nan 15 93
nan 15 94
nan 15 95
nan 15 96
nan 15 97
nan 15 98
nan 15 99
nan 15 100
nan 15 101
nan 15 102
nan 15 103
nan 15 104
nan 15 105
nan 15 106
nan 15 107
nan 15 108
nan 15 109
nan 15 110
nan 15 111
nan 15 112
nan 15 113
nan 15 114
nan 15 115
nan 15 116
nan 15 117
nan 15 118
nan 15 119
nan 16 36
nan 16 47
nan 16 54
nan 16 55
nan 16 67
nan 16 72
nan 16 81
nan 17 36
nan 17 47
nan 17 54
nan 17 55
nan 17 67
nan 17 72
nan 17 81
nan 18 36
nan 18 47
nan 18 54
nan 18 55
nan 18 67
nan 18 72
nan 18 81
nan 19 36
nan 19 47
nan 19 54
nan 19 55
nan 19 67
nan 19 72
nan 19 81
nan 20 36
nan 20 47
nan 20 54
nan 20 55
nan 20 67
nan 20 72
nan 20 81
nan 21 36
nan 21 47
nan 21 54
nan 21 55
nan 21 67
nan 21 72
nan 21 81
nan 22 36
nan 22 47
nan 22 54
nan 22 55
nan 22 67
nan 22 72
nan 22 81
nan 23 36
nan 23 47
nan 23 54
nan 23 55
nan 23 67
nan 23 72
nan 23 81
nan 24 36
nan 24 47
nan 24 54
nan 24 55
nan 24 67
nan 24 72
nan 24 81
nan 25 36
nan 25 47
nan 25 54
nan 25 55
nan 25 67
nan 25 72
nan 25 81
nan 26 36
nan 26 47
nan 26 54
nan 26 55
nan 26 67
nan 26 72
nan 26 81
nan 27 36
nan 27 47
nan 27 54
nan 27 55
nan 27 67
nan 27 72
nan 27 81
nan 28 36
nan 28 47
nan 28 54
nan 28 55
nan 28 67
nan 28 72
nan 28 81
nan 29 36
nan 29 47
nan 29 54
nan 29 55
nan 29 67
nan 29 72
nan 29 81
nan 30 36
nan 30 47
nan 30 54
nan 30 55
nan 30 67
nan 30 72
nan 30 81
nan 31 36
nan 31 47
nan 31 54
nan 31 55
nan 31 67
nan 31 72
nan 31 81
nan 32 36
nan 32 47
nan 32 54
nan 32 55
nan 32 67
nan 32 72
nan 32 81
nan 33 36
nan 33 47
nan 33 54
nan 33 55
nan 33 67
nan 33 72
nan 33 81
nan 34 36
nan 34 47
nan 34 54
nan 34 55
nan 34 67
nan 34 72
nan 34 81
nan 35 36
nan 35 47
nan 35 54
nan 35 55
nan 35 67
nan 35 72
nan 35 81
nan 36 37
nan 36 38
nan 36 39
nan 36 40
nan 36 41
nan 36 42
nan 36 43
nan 36 44
nan 36 45
nan 36 46
nan 36 47
nan 36 48
nan 36 49
nan 36 50
nan 36 51
nan 36 52
nan 36 53
nan 36 54
nan 36 55
nan 36 56
nan 36 57
nan 36 58
nan 36 59
nan 36 60
nan 36 61
nan 36 62
nan 36 63
nan 36 64
nan 36 65
nan 36 66
nan 36 67
nan 36 68
nan 36 69
nan 36 70
nan 36 71
nan 36 72
nan 36 73
nan 36 74
nan 36 75
nan 36 76
nan 36 77
nan 36 78
nan 36 79
nan 36 80
nan 36 81
nan 36 82
nan 36 83
nan 36 84
nan 36 85
nan 36 86
nan 36 87
nan 36 88
nan 36 89
nan 36 90
nan 36 91
nan 36 92
nan 36 93
nan 36 94
nan 36 95
nan 36 96
nan 36 97
nan 36 98
nan 36 99
nan 36 100
nan 36 101
nan 36 102
nan 36 103
nan 36 104
nan 36 105
nan 36 106
nan 36 107
nan 36 108
nan 36 109
nan 36 110
nan 36 111
nan 36 112
nan 36 113
nan 36 114
nan 36 115
nan 36 116
nan 36 117
nan 36 118
nan 36 119
nan 37 47
nan 37 54
nan 37 55
nan 37 67
nan 37 72
nan 37 81
nan 38 47
nan 38 54
nan 38 55
nan 38 67
nan 38 72
nan 38 81
nan 39 47
nan 39 54
nan 39 55
nan 39 67
nan 39 72
nan 39 81
nan 40 47
nan 40 54
nan 40 55
nan 40 67
nan 40 72
nan 40 81
nan 41 47
nan 41 54
nan 41 55
nan 41 67
nan 41 72
nan 41 81
nan 42 47
nan 42 54
nan 42 55
nan 42 67
nan 42 72
nan 42 81
nan 43 47
nan 43 54
nan 43 55
nan 43 67
nan 43 72
nan 43 81
nan 44 47
nan 44 54
nan 44 55
nan 44 67
nan 44 72
nan 44 81
nan 45 47
nan 45 54
nan 45 55
nan 45 67
nan 45 72
nan 45 81
nan 46 47
nan 46 54
nan 46 55
nan 46 67
nan 46 72
nan 46 81
nan 47 48
nan 47 49
nan 47 50
nan 47 51
nan 47 52
nan 47 53
nan 47 54
nan 47 55
nan 47 56
nan 47 57
nan 47 58
nan 47 59
nan 47 60
nan 47 61
nan 47 62
nan 47 63
nan 47 64
nan 47 65
nan 47 66
nan 47 67
nan 47 68
nan 47 69
nan 47 70
nan 47 71
nan 47 72
nan 47 73
nan 47 74
nan 47 75
nan 47 76
nan 47 77
nan 47 78
nan 47 79
nan 47 80
nan 47 81
nan 47 82
nan 47 83
nan 47 84
nan 47 85
nan 47 86
nan 47 87
nan 47 88
nan 47 89
nan 47 90
nan 47 91
nan 47 92
nan 47 93
nan 47 94
nan 47 95
nan 47 96
nan 47 97
nan 47 98
nan 47 99
nan 47 100
nan 47 101
nan 47 102
nan 47 103
nan 47 104
nan 47 105
nan 47 106
nan 47 107
nan 47 108
nan 47 109
nan 47 110
nan 47 111
nan 47 112
nan 47 113
nan 47 114
nan 47 115
nan 47 116
nan 47 117
nan 47 118
nan 47 119
nan 48 54
nan 48 55
nan 48 67
nan 48 72
nan 48 81
nan 49 54
nan 49 55
nan 49 67
nan 49 72
nan 49 81
nan 50 54
nan 50 55
nan 50 67
nan 50 72
nan 50 81
nan 51 54
nan 51 55
nan 51 67
nan 51 72
nan 51 81
nan 52 54
nan 52 55
nan 52 67
nan 52 72
nan 52 81
nan 53 54
nan 53 55
nan 53 67
nan 53 72
nan 53 81
nan 54 55
nan 54 56
nan 54 57
nan 54 58
nan 54 59
nan 54 60
nan 54 61
nan 54 62
nan 54 63
nan 54 64
nan 54 65
nan 54 66
nan 54 67
nan 54 68
nan 54 69
nan 54 70
nan 54 71
nan 54 72
nan 54 73
nan 54 74
nan 54 75
nan 54 76
nan 54 77
nan 54 78
nan 54 79
nan 54 80
nan 54 81
nan 54 82
nan 54 83
nan 54 84
nan 54 85
nan 54 86
nan 54 87
nan 54 88
nan 54 89
nan 54 90
nan 54 91
nan 54 92
nan 54 93
nan 54 94
nan 54 95
nan 54 96
nan 54 97
nan 54 98
nan 54 99
nan 54 100
nan 54 101
nan 54 102
nan 54 103
nan 54 104
nan 54 105
nan 54 106
nan 54 107
nan 54 108
nan 54 109
nan 54 110
nan 54 111
nan 54 112
nan 54 113
nan 54 114
nan 54 115
nan 54 116
nan 54 117
nan 54 118
nan 54 119
nan 55 56
nan 55 57
nan 55 58
nan 55 59
nan 55 60
nan 55 61
nan 55 62
nan 55 63
nan 55 64
nan 55 65
nan 55 66
nan 55 67
nan 55 68
nan 55 69
nan 55 70
nan 55 71
nan 55 72
nan 55 73
nan 55 74
nan 55 75
nan 55 76
nan 55 77
nan 55 78
nan 55 79
nan 55 80
nan 55 81
nan 55 82
nan 55 83
nan 55 84
nan 55 85
nan 55 86
nan 55 87
nan 55 88
nan 55 89
nan 55 90
nan 55 91
nan 55 92
nan 55 93
nan 55 94
nan 55 95
nan 55 96
nan 55 97
nan 55 98
nan 55 99
nan 55 100
nan 55 101
nan 55 102
nan 55 103
nan 55 104
nan 55 105
nan 55 106
nan 55 107
nan 55 108
nan 55 109
nan 55 110
nan 55 111
nan 55 112
nan 55 113
nan 55 114
nan 55 115
nan 55 116
nan 55 117
nan 55 118
nan 55 119
nan 56 67
nan 56 72
nan 56 81
nan 57 67
nan 57 72
nan 57 81
nan 58 67
nan 58 72
nan 58 81
nan 59 67
nan 59 72
nan 59 81
nan 60 67
nan 60 72
nan 60 81
nan 61 67
nan 61 72
nan 61 81
nan 62 67
nan 62 72
nan 62 81
nan 63 67
nan 63 72
nan 63 81
nan 64 67
nan 64 72
nan 64 81
nan 65 67
nan 65 72
nan 65 81
nan 66 67
nan 66 72
nan 66 81
nan 67 68
nan 67 69
nan 67 70
nan 67 71
nan 67 72
nan 67 73
nan 67 74
nan 67 75
nan 67 76
nan 67 77
nan 67 78
nan 67 79
nan 67 80
nan 67 81
nan 67 82
nan 67 83
nan 67 84
nan 67 85
nan 67 86
nan 67 87
nan 67 88
nan 67 89
nan 67 90
nan 67 91
nan 67 92
nan 67 93
nan 67 94
nan 67 95
nan 67 96
nan 67 97
nan 67 98
nan 67 99
nan 67 100
nan 67 101
nan 67 102
nan 67 103
nan 67 104
nan 67 105
nan 67 106
nan 67 107
nan 67 108
nan 67 109
nan 67 110
nan 67 111
nan 67 112
nan 67 113
nan 67 114
nan 67 115
nan 67 116
nan 67 117
nan 67 118
nan 67 119
nan 68 72
nan 68 81
nan 69 72
nan 69 81
nan 70 72
nan 70 81
nan 71 72
nan 71 81
nan 72 73
nan 72 74
nan 72 75
nan 72 76
nan 72 77
nan 72 78
nan 72 79
nan 72 80
nan 72 81
nan 72 82
nan 72 83
nan 72 84
nan 72 85
nan 72 86
nan 72 87
nan 72 88
nan 72 89
nan 72 90
nan 72 91
nan 72 92
nan 72 93
nan 72 94
nan 72 95
nan 72 96
nan 72 97
nan 72 98
nan 72 99
nan 72 100
nan 72 101
nan 72 102
nan 72 103
nan 72 104
nan 72 105
nan 72 106
nan 72 107
nan 72 108
nan 72 109
nan 72 110
nan 72 111
nan 72 112
nan 72 113
nan 72 114
nan 72 115
nan 72 116
nan 72 117
nan 72 118
nan 72 119
nan 73 81
nan 74 81
nan 75 81
nan 76 81
nan 77 81
nan 78 81
nan 79 81
nan 80 81
nan 81 82
nan 81 83
nan 81 84
nan 81 85
nan 81 86
nan 81 87
nan 81 88
nan 81 89
nan 81 90
nan 81 91
nan 81 92
nan 81 93
nan 81 94
nan 81 95
nan 81 96
nan 81 97
nan 81 98
nan 81 99
nan 81 100
nan 81 101
nan 81 102
nan 81 103
nan 81 104
nan 81 105
nan 81 106
nan 81 107
nan 81 108
nan 81 109
nan 81 110
nan 81 111
nan 81 112
nan 81 113
nan 81 114
nan 81 115
nan 81 116
nan 81 117
nan 81 118
nan 81 119

In [150]:
# run solver on instance file, write data to solver file
import subprocess
solver_filename = "test_output_manhattan.txt"
bash_command = "java -jar mdgp_jors_2011.jar SO " + instance_filename + " 60000 > " + solver_filename
subprocess.call(bash_command, shell=True)

# read solution from file 
with open(solver_filename) as f:
    content = f.readlines()

# remove whitespace characters like `\n` at the end of each line
content = [x.strip() for x in content]

# identify line where solution is written
sol_index = np.where([item.startswith('Solution: [') for item in content])

In [144]:
# turn into list of ints
solution = [int(x) for x in content[sol_index[0][0]][11:-1].split(", ")]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [145]:
sol_index

(array([], dtype=int64),)

In [142]:
# add MDGP solution to dataframe of initial data
input_data.iloc[swarm_rows, team_col] = solution

# write to file
input_data.to_csv(outputfile)

IndexError: index 0 is out of bounds for axis 0 with size 0