In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame.from_csv("sample_csv_files/sample_users_swarm_input.csv")

In [7]:
df.head()

,block,cond,team,requested_avatar,age,gender,education,college_major,occupation,team_lead,...,rme_28,rme_29,rme_30,rme_31,rme_32,rme_33,rme_34,rme_35,rme_36,score_rme
user_id,,,,,,,,,,,,,,,,,,,,,
1001,1,swarm,NaN,jasonbourne,65+,f,1,Math,scientist,0,...,2,4,3,4,3,3,4,1,4,17
1003,3,swarm,NaN,expertreasoner,65+,m,5,Math,a programmer,0,...,3,2,1,4,2,4,3,2,3,2
1013,3,swarm,NaN,jasonbourne,55-64,f,6,English literature,retired,1,...,3,4,4,2,1,4,3,2,2,4
1024,2,swarm,NaN,myname,35-44,m,4,computer science,retired,0,...,2,1,2,3,2,4,2,2,3,25
1042,2,swarm,NaN,jasonbourne,55-64,f,1,computer science,this could be anything,1,...,3,3,1,4,1,3,3,3,2,13

In [13]:
for i in range(len(df.columns)):
    print(df.columns[i])

block
cond
team
requested_avatar
age
gender
education
college_major
occupation
team_lead
country_reside
country_reside_years
country_longest
fluent_english
languages_primary
languages_2
languages_3
languages_4
languages_5
languages_6
languages_7
enjoy_logic_probs
enjoy_num_probs
expertise_math
expertise_quant_model
expertise_stats
expertise_prob
expertise_bayes_net
expertise_programming
expertise_exp_design
expertise_risk_analysis
expertise_forecasting
expertise_dec_theory
expertise_game_theory
expertise_sats
expertise_arg_map
expertise_inf_logic
expertise_sys_think
expertise_image_analysis
expertise_link_analysis
expertise_graphic_design
expertise_tech_writing
matrix_1
matrix_2
matrix_3
matrix_4
matrix_5
matrix_6
matrix_7
matrix_8
matrix_9
matrix_10
matrix_11
matrix_12
matrix_13
matrix_14
matrix_15
matrix_16
matrix_17
matrix_18
matrix_19
matrix_20
score_matrix
prob_reas_1
prob_reas_2
prob_reas_3
prob_reas_4
prob_reas_5
prob_reas_6
prob_reas_7
prob_reas_8
prob_reas_9
prob_reas_10
prob_reas_11
prob_reas_12
prob_reas_13
prob_reas_14
prob_reas_15
prob_reas_16
score_prob_reas
numberseries_1
numberseries_2
numberseries_3
numberseries_4
numberseries_5
numberseries_6
numberseries_7
numberseries_8
numberseries_9
numberseries_10
numberseries_11
numberseries_12
numberseries_13
score_numberseries
letterseries_1
letterseries_2
letterseries_3
letterseries_4
letterseries_5
letterseries_6
letterseries_7
letterseries_8
letterseries_9
letterseries_10
letterseries_11
letterseries_12
letterseries_13
score_letterseries
crt_1
crt_2
crt_3
crt_4
crt_5
crt_6
score_crt
numeracy_1
numeracy_2
numeracy_3
numeracy_4
score_numeracy
aomt_1
aomt_2
aomt_3
aomt_4
aomt_4_rev
aomt_5
aomt_5_rev
aomt_6
aomt_6_rev
aomt_7
aomt_7_rev
aomt_8
aomt_9
aomt_9_rev
aomt_10
aomt_11
score_aomt
nfcog_1
nfcog_2
nfcog_3
nfcog_3_rev
nfcog_4
nfcog_4_rev
nfcog_5
nfcog_5_rev
nfcog_6
nfcog_7
nfcog_7_rev
nfcog_8_rev
nfcog_8
nfcog_9
nfcog_9_rev
nfcog_10
nfcog_11
nfcog_12
nfcog_12_rev
nfcog_13
nfcog_14
nfcog_15
nfcog_16
nfcog_16_rev
nfcog_17
nfcog_17_rev
nfcog_18
score_nfcog
bfi_1
bfi_2
bfi_3
bfi_4
bfi_5
bfi_6
bfi_7
bfi_8
bfi_9
bfi_10
bfi_1_rev
bfi_3_rev
bfi_4_rev
bfi_5_rev
bfi_7_rev
score_bfi_openness
score_bfi_conscientiousness
score_bfi_extraversion
score_bfi_agreeableness
score_bfi_neuroticism
toa_1
toa_2
toa_2_rev
toa_3
toa_4
toa_4_rev
toa_5
toa_6
toa_6_rev
toa_7
toa_8
toa_8_rev
toa_9
toa_10
toa_10_rev
toa_11
toa_12
toa_12_rev
toa_13
toa_14
toa_14_rev
toa_15
toa_16
toa_16_rev
score_toa_novelty
score_toa_complexity
score_toa_insolubility
svo_1
svo_2
svo_3
svo_4
svo_5
svo_6
svo_7
svo_8
svo_9
svo_10
svo_11
svo_12
svo_13
svo_14
svo_15
svo_1_self
svo_2_self
svo_3_self
svo_4_self
svo_5_self
svo_6_self
svo_7_self
svo_8_self
svo_9_self
svo_10_self
svo_11_self
svo_12_self
svo_13_self
svo_14_self
svo_15_self
svo_1_other
svo_2_other
svo_3_other
svo_4_other
svo_5_other
svo_6_other
svo_7_other
svo_8_other
svo_9_other
svo_10_other
svo_11_other
svo_12_other
svo_13_other
svo_14_other
svo_15_other
svo_angle
svo_category
rme_1
rme_2
rme_3
rme_4
rme_5
rme_6
rme_7
rme_8
rme_9
rme_10
rme_11
rme_12
rme_13
rme_14
rme_15
rme_16
rme_17
rme_18
rme_19
rme_20
rme_21
rme_22
rme_23
rme_24
rme_25
rme_26
rme_27
rme_28
rme_29
rme_30
rme_31
rme_32
rme_33
rme_34
rme_35
rme_36
score_rme

In [23]:
df.languages_primary.unique()

array(['French', 'Spanish', 'German', 'English'], dtype=object)

# Distance measures

- Mahalanobis-based methods
    - Intro: [Mahalanobis distance](https://en.wikipedia.org/wiki/Mahalanobis_distance) is "a dissimilarity measure between two random vectors x and y of the same distribution"
    - [A generalized Mahalanobis distance for mixed data](https://people.ucalgary.ca/~adeleon/JMVA_mahalanobis.pdf)
        - I don't think this will scale well when there are lots of discrete variables
    - [Distance functions for categorical and mixed variables](https://www-sciencedirect-com.ezp.lib.unimelb.edu.au/science/article/pii/S0167865508000524)
    - [Distance Functions for Categorical and Mixed Variables](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.139.5738&rep=rep1&type=pdf)
    - [Estimating the Mahalanobis Distance from Mixed Continuous and Discrete Data](http://onlinelibrary.wiley.com/doi/10.1111/j.0006-341X.2000.00394.x/abstract)
    - [Generalization of the Mahalanobis Distance in the Mixed Case](http://www.sciencedirect.com/science/article/pii/S0047259X85710408)
- [Chi square and categorial distance (see last few pages)](http://84.89.132.1/~michael/stanford/maeb4.pdf)
- [Improved Heterogeneous Distance Functions](https://arxiv.org/pdf/cs/9701101.pdf)
- [Gower similarity](https://stats.stackexchange.com/questions/15287/hierarchical-clustering-with-mixed-type-data-what-distance-similarity-to-use/15313#15313). See also [this explanation](https://dpmartin42.github.io/blogposts/r/cluster-mixed-types#calculating-distance).
- [Clustering mixed data](http://onlinelibrary.wiley.com.ezp.lib.unimelb.edu.au/doi/10.1002/widm.33/full)
- [Informational distances and related statistics in mixed continuous and categorical variables](https://www-sciencedirect-com.ezp.lib.unimelb.edu.au/science/article/pii/S0378375898001207)
- [Jaccard, simple matching, normalized ranks, etc.](https://stat.ethz.ch/education/semesters/ss2012/ams/slides/v4.2.pdf)